# Python virtual environments
venv/
**/venv/
**/venv_linux/

# Environment variables
.env

# SQLite database
db.sqlite3

# Python cache
__pycache__/
*.pyc

# Node
node_modules/

# OS files
.DS_Store
Thumbs.db

# Nested accidental git folder
venture_site/niravkpatel36/
