# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Django
*.log
*.pot
*.pyc
*.pyo
*.db
db.sqlite3
db.sqlite3-journal

# Migrations compiled caches
*/migrations/__pycache__/

# Virtual environments
venv/
.venv/
ENV/
env/

# Environment variables
.env

# Operating System files
.DS_Store
Thumbs.db

# VSCode
.vscode/
